<div class="pos-f-t">
  <nav class="navbar navbar-dark bg-dark">
    <button (click)="showNavbarList()" class="navbar-toggler" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
  <div [hidden]="navbarHidden">
    <div class="bg-dark p-4">
      <h5 class="text-white h6">LOG IN</h5>
      <h5 class="text-white h6">REGISTRATE</h5>
      <h5 class="text-white h6">DEPORTES</h5>
      <h5 class="text-white h6">ABOUT US</h5>
      <!-- <span class="text-muted">Toggleable via the navbar brand.</span> -->
    </div>
  </div>
</div>
